body, h1, h2, h3, h4, h5, h6, ul {
	margin: 0;
	padding: 0;
}

body {
	font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
	height: 74px;
	border-bottom: 1px solid #e2e2e2;
	display: flex;
}

.header__logo {
	padding: 24px 20px 24px 17px;
}

.logo {
	display: flex;
}

.logo__lonk_type_yandex {
	display: block;
	background: url('data:image/svg+xml,<svg width%3D"70" height%3D"29" viewBox%3D"0 0 70 29" xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"><g fill%3D"none" fill-rule%3D"evenodd"><path d%3D"M3.202 25H.317l5.135-9.478c-1.5-.719-2.573-1.675-3.217-2.87-.645-1.193-.967-2.614-.967-4.263 0-1.268.18-2.388.539-3.36.36-.972.845-1.791 1.458-2.457a6.023 6.023 0 0 1 2.14-1.506A6.665 6.665 0 0 1 7.988.56h4.058V25H9.542v-9.066H7.893L3.202 25zm6.34-22.349H7.893a3.6 3.6 0 0 0-1.474.317c-.475.212-.898.55-1.268 1.015-.37.465-.665 1.062-.887 1.79-.222.73-.333 1.602-.333 2.616 0 .993.121 1.834.364 2.52.243.687.566 1.252.967 1.696.402.444.856.766 1.363.967.508.2 1.036.301 1.585.301h1.332V2.651z" fill%3D"%23F00"%2F><path d%3D"M37.12 28.17h-2.25v-3.202h-7.006v3.202h-2.25v-5.262h.982a13.96 13.96 0 0 0 1.19-3.075c.284-1.099.501-2.209.649-3.329.148-1.12.238-2.23.27-3.328.031-1.099.047-2.145.047-3.138V8.643h7.1v14.265h1.269v5.262zm-3.772-17.498h-2.377v.317c0 .993-.032 2.044-.095 3.154a32.825 32.825 0 0 1-.349 3.265 25 25 0 0 1-.666 3.027c-.274.951-.623 1.775-1.046 2.473h4.533V10.672zM48.089 24.24a10.83 10.83 0 0 1-1.76.776c-.644.222-1.368.333-2.17.333-1.65 0-2.97-.687-3.963-2.06-.994-1.374-1.49-3.308-1.49-5.802 0-1.205.1-2.362.3-3.471.202-1.11.508-2.092.92-2.948.412-.856.935-1.543 1.57-2.06.633-.518 1.394-.777 2.282-.777 1.31 0 2.367.655 3.17 1.965.803 1.31 1.204 3.244 1.204 5.801v1.395h-6.815c0 1.775.3 3.16.903 4.153.603.993 1.548 1.49 2.837 1.49.486 0 .988-.07 1.506-.206a9.25 9.25 0 0 0 1.22-.397l.286 1.807zm-4.406-13.98c-.36 0-.677.126-.951.38-.275.254-.508.607-.698 1.062-.19.454-.338.988-.444 1.6a17.94 17.94 0 0 0-.221 1.998h4.184v-.349c0-.106-.005-.222-.016-.349a4.98 4.98 0 0 1-.016-.412c-.084-1.247-.285-2.213-.602-2.9-.317-.687-.73-1.03-1.236-1.03zM24.155 8.643v16.325h-2.504V17.17h-3.74v7.798h-2.536V8.643h2.536v6.435h3.74V8.643zm36.043 16.325h-2.821l-3.9-8.052-.284-.348v8.4h-2.536V8.643h2.536v7.418l.285-.317 3.455-7.101h2.695l-3.994 7.354zm3.265-8.115c0 1.923.296 3.434.888 4.533.592 1.1 1.5 1.649 2.726 1.649.465 0 .94-.07 1.427-.206a9.93 9.93 0 0 0 1.173-.397l.253 1.807a9.347 9.347 0 0 1-1.632.777c-.603.222-1.284.333-2.045.333-1.627 0-2.943-.677-3.947-2.03-1.003-1.352-1.505-3.296-1.505-5.832 0-1.395.142-2.663.428-3.804.285-1.141.67-2.113 1.157-2.916.486-.803 1.067-1.427 1.743-1.87a3.912 3.912 0 0 1 2.187-.666c.698 0 1.327.095 1.887.285a5.78 5.78 0 0 1 1.505.76l-1.3 2.188a4.515 4.515 0 0 0-.998-.856c-.37-.232-.745-.349-1.125-.349-.444 0-.846.19-1.205.571-.36.38-.655.877-.887 1.49a10.745 10.745 0 0 0-.54 2.108c-.126.793-.19 1.6-.19 2.425z" fill%3D"%23000"%2F><%2Fg><%2Fsvg>%0A') no-repeat;
	width: 70px;
	height: 28px;
	margin-right: 6px;
}

.logo__link_type_service {
	display: block;
	background: url('data:image/svg+xml,<svg width%3D"115" height%3D"28" viewBox%3D"0 0 115 28" xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"><path d%3D"M6.34.683c.845 0 1.553.159 2.123.476.57.317 1.025.665 1.363 1.046l-.412 1.49a5.424 5.424 0 0 0-1.3-1.252c-.507-.35-1.098-.524-1.775-.524-1.521 0-2.694.872-3.518 2.616-.825 1.743-1.237 4.2-1.237 7.37 0 3.191.402 5.685 1.205 7.481.803 1.797 1.986 2.695 3.55 2.695.846 0 1.543-.17 2.093-.508.549-.338.972-.655 1.268-.95l.443 1.14a8.492 8.492 0 0 1-.475.429c-.212.18-.481.354-.809.523a5.777 5.777 0 0 1-1.14.428 5.43 5.43 0 0 1-1.411.174c-.994 0-1.881-.259-2.663-.777-.782-.517-1.437-1.257-1.966-2.219-.528-.961-.93-2.145-1.204-3.55C.2 15.366.063 13.775.063 12c0-1.776.142-3.366.428-4.772.285-1.405.697-2.589 1.236-3.55.539-.962 1.194-1.701 1.965-2.22C4.464.943 5.346.684 6.34.684zm12.87 7.481h-5.326V23h-1.427V7.023h8.147V23H19.21V8.164zm9.32 14.012c1.035 0 1.864-.613 2.488-1.839.623-1.226.935-3.117.935-5.674 0-2.113-.27-3.762-.808-4.945-.54-1.184-1.284-1.776-2.235-1.776-.36 0-.703.09-1.03.27-.328.18-.635.417-.92.713a5.62 5.62 0 0 0-.776 1.03 8.724 8.724 0 0 0-.603 1.22v9.067c.317.655.708 1.141 1.173 1.458.465.317 1.057.476 1.775.476zm-.127 1.11a3.422 3.422 0 0 1-1.633-.397 3.47 3.47 0 0 1-1.189-.998v6.054h-1.426V7.023h1.236l.127 2.631a7.45 7.45 0 0 1 1.426-2.044c.592-.603 1.332-.904 2.22-.904.654 0 1.246.19 1.775.57.528.381.972.915 1.33 1.602.36.686.635 1.51.825 2.472.19.962.285 2.024.285 3.186 0 2.938-.454 5.13-1.363 6.578-.908 1.447-2.113 2.171-3.613 2.171zm11-1.11c.74 0 1.368-.307 1.886-.92.517-.612.924-1.352 1.22-2.219v-4.533h-1.712c-1.331 0-2.324.323-2.98.967-.655.645-.982 1.675-.982 3.091 0 1.141.232 2.029.697 2.663.465.634 1.088.95 1.87.95zm3.55.824c-.064-.211-.132-.48-.206-.808a9.666 9.666 0 0 1-.175-1.348c-.38.761-.855 1.363-1.426 1.807-.57.444-1.258.666-2.06.666-1.078 0-1.955-.407-2.632-1.22-.676-.814-1.014-1.95-1.014-3.408 0-1.712.454-3.006 1.363-3.883.909-.877 2.23-1.316 3.963-1.316h1.743v-1.997c0-1.247-.222-2.15-.666-2.71-.443-.56-1.11-.84-1.997-.84-.676 0-1.31.153-1.902.46a3.967 3.967 0 0 0-1.458 1.283l-.412-1.363c.317-.423.798-.798 1.442-1.125.645-.328 1.421-.492 2.33-.492 1.31 0 2.314.375 3.012 1.126.697.75 1.046 1.917 1.046 3.502v8.718c0 .55.032 1.104.095 1.664.063.56.148.988.254 1.284h-1.3zm4.501 0V7.023h3.297c1.416 0 2.494.328 3.233.983.74.655 1.11 1.617 1.11 2.885 0 .803-.18 1.521-.539 2.155-.36.634-.93 1.13-1.712 1.49 1.036.296 1.791.771 2.267 1.427.475.655.713 1.468.713 2.44 0 1.586-.454 2.748-1.363 3.488-.909.74-2.124 1.109-3.646 1.109h-3.36zM48.85 8.133v6.023h1.902c.888 0 1.606-.249 2.156-.745.55-.497.824-1.316.824-2.457 0-1.036-.264-1.765-.793-2.187-.528-.423-1.257-.634-2.187-.634H48.85zm0 7.069v6.72h2.029c1.035 0 1.88-.259 2.536-.776.655-.518.983-1.4.983-2.647 0-1.184-.302-2.03-.904-2.536-.602-.508-1.485-.761-2.647-.761H48.85zm13.694 8.115a3.741 3.741 0 0 1-1.933-.523c-.592-.349-1.105-.861-1.538-1.538-.433-.676-.776-1.526-1.03-2.551-.254-1.025-.38-2.225-.38-3.598 0-1.332.126-2.52.38-3.567.254-1.046.597-1.923 1.03-2.63.433-.709.946-1.253 1.538-1.633a3.506 3.506 0 0 1 1.933-.57c.698 0 1.342.168 1.934.506.592.339 1.104.851 1.538 1.538.433.687.776 1.543 1.03 2.568.253 1.025.38 2.224.38 3.597 0 1.332-.127 2.515-.38 3.55-.254 1.036-.597 1.913-1.03 2.632-.434.719-.946 1.268-1.538 1.648a3.51 3.51 0 0 1-1.934.571zm0-1.141c.951 0 1.765-.587 2.441-1.76.677-1.172 1.015-2.974 1.015-5.404 0-1.268-.09-2.351-.27-3.25-.18-.898-.428-1.632-.745-2.203-.317-.57-.687-.993-1.11-1.268a2.405 2.405 0 0 0-1.33-.412c-.952 0-1.765.576-2.441 1.728-.677 1.152-1.015 2.953-1.015 5.405 0 1.246.09 2.324.27 3.233.18.909.428 1.654.745 2.235s.681 1.009 1.093 1.284a2.38 2.38 0 0 0 1.347.412zM76.396 23v-7.291c-.211.19-.465.36-.76.507-.254.127-.56.243-.92.349a4.51 4.51 0 0 1-1.268.158c-1.12 0-2.007-.37-2.663-1.11-.655-.739-.982-1.87-.982-3.391V7.023h1.426v5.23c0 1.163.222 1.998.666 2.505.444.507 1.046.76 1.807.76.422 0 .803-.057 1.141-.174.338-.116.623-.258.856-.428a4.97 4.97 0 0 0 .697-.634V7.023h1.427V23h-1.427zm11.92-7.735H82.8V23h-1.427V7.023H82.8v7.101h5.516v-7.1h1.426V23h-1.426v-7.735zm12.426-8.242h1.236V23h-1.363V11.683a16.449 16.449 0 0 1 .127-2.124h-.095a9.67 9.67 0 0 1-.365 1.03c-.137.328-.29.66-.46.999L94.53 23h-1.205V7.023h1.332V18.34a16.449 16.449 0 0 1-.127 2.124h.095c.105-.36.227-.703.364-1.03.138-.328.29-.66.46-.999l5.294-11.412zM106.987 23h-1.427V7.023h1.427v7.513l5.357-7.513h1.395l-5.262 7.418L114.119 23h-1.585l-5.547-8.274V23z" fill-rule%3D"evenodd"%2F><%2Fsvg>%0A') no-repeat;
	width: 115px;
	height: 28px;
	margin-top: 2px;
}

.header__content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.search {
	display: flex;
}

.search__input {
	height: 29px;
    width: 385px;
    color: #9d9d9d;
    font-size: 14px;
    border: 1px solid #d6d6d6;
    text-indent: 11px;
    letter-spacing: 0.4px;
}

.search__button {
	height: 33px;
	width: 69px;
	font-size: 14px;
	color: #000;
	background: #fff;
	border: 1px solid #d6d6d6;
	border-left: none;
	padding: 0;
}

.header__user {
	height: 43px;
	width: 43px;
	margin-right: 27px;
	border-radius: 100%;
	background: url("../img/user-icon.png");
	border: 1px solid #d6d6d6;
	cursor: pointer;
}

.container {
	margin: 0 225px;
}

.nav {
	border-bottom: 1px solid #e2e2e2;
}

.nav__list {
	display: flex;
}

.nav__item {
	line-height: 55px;
	margin-right: 38px;
	display: block;
}

.nav__item:nth-child(2) {
	margin-right: 48px;
}

.nav__item:last-child {
	margin-right: 0;
}

.nav__item_active {
	border-bottom: 2px solid #212121;
}

.nav__link {
	color: #414141;
	text-decoration: none;
	font-size: 12.5px;
}

.nav__link:hover {
	color: #000;
}

.head {
	display: flex;
	margin: 21px 0;
	align-items: flex-end;
}

.title {
	color: #353535;
	font-size: 35px;
	font-weight: normal;
	margin-right: 8px;
}

.icon-map {
	color: #686868;
	margin-right: 4px;
}

.open-map {
	color: #358bbd;
	font-size: 13px;
	text-decoration: none;
	line-height: 26px;
}

.cafe-nav {
	display: flex;
	margin-top: 28px;
}

.cafe-nav__item {
	display: block;
	padding: 4px 19px;
	border: 1px solid #d6d6d6;
	border-right: none;
	margin: 0;
}

.cafe-nav__item:last-child {
	border-right: 1px solid #d6d6d6;
}

.cafe-nav__item_active {
	background: #feeaa1;
}

.cafe-nav__link {
	color: #000;
	text-decoration: none;
	font-size: 13px;
}

.sub-head {
	display: flex;
	align-items: center;
	margin: 27px 0 21px;
}

.sub-head__title {
	font-size: 23px;
	font-weight: normal;
	margin-right: 20px;
}

.sub-head__mark {
	background: #fccb02;
	color: #835200;
	padding: 3px 7px;
    font-size: 15px;
    margin-top: 1px;
    position: relative;
}

.sub-head__mark:after {
	content: '';
    position: absolute;
    top: 0;
    right: -20px;
    border: 12px solid transparent;
    border-left: 8px solid #fccb02;
}

.feedbacks {
	margin-bottom: 15px;
}

.feedback {
	width: 470px;
	margin-bottom: 25px;
}

.feedback:last-child {
	margin-bottom: 0;
}

.feedback__head {
	display: flex;
	align-items: center;
}

.feedback__user {
	width: 31px;
	height: 31px;
	border-radius: 100%;
	background: #88bd53;
	margin-right: 10px;
}

.feedback:nth-child(2) .feedback__user{
	background: #0e0405;
}

.feedback:nth-child(3) .feedback__user {
	background: #c14545;
}

.feedback__name {
	font-weight: bold;
	margin-right: 15px;
    font-size: 12px;
}

.feedback__date {
	margin-right: 12px;
	color: #9f9f9f;
	position: relative;
	font-size: 12px;
}

.feedback__date:before {
	content: "";
	display: block;
	height: 2px;
	width: 2px;
	border-radius: 100%;
	background: #9f9f9f;
	position: absolute;
	top: 50%;
	left: -7px;
}

.feedback__mark {
	color: #9f9f9f;
	position: relative;
	font-size: 12px;
}

.feedback__mark:before {
	content: "";
	display: block;
	height: 2px;
	width: 2px;
	border-radius: 100%;
	background: #9f9f9f;
	position: absolute;
	top: 50%;
	left: -6px;
}

.feedback__mark i {
	font-size: 25px;
	margin-top: -12px;
	margin-left: 5px;
	color: #999999;
}

.feedback__mark_yellow i {
	color: #f6cb1a;
}

.feedback__text	{
	line-height: 1.5em;
    margin-top: 2px;
    letter-spacing: 0.026em;
    font-size: 12px;
    margin-bottom: 12px;
}

.feedback__show-more {
	color: #898898;
	cursor: pointer;
}

.feedback__button {
	padding: 2px 8px 2px 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    margin-right: 15px;
}

.feedback__button:hover {
	background: #feeaa1;
	cursor: pointer;
}

.feedback__link {
	text-decoration: none;
	color: #898898;
	font-size: 12px;
}

.write {
	margin: 0 0 27px;
}

.write__legend {
	font-weight: bold;
	margin: 10px 0;
}

.write__textarea {
	width: 464px;
	min-height: 90px;
	border: 1px solid #d9d9d9;
	margin-bottom: 7px;
}

.write__submit {
	display: block;
	background: #ededed;
	color: #6b6b6b;
	padding: 8px 19px 8px 19px;
	border: none;
	border-radius: 2px;
	margin-left: 344.83px;
	cursor: pointer;
}

.all {
	width: 470px;
	color: #000;
	font-size: 14.5px;
	display: block;
	text-align: center;
	line-height: 40px;
	border: none;
	background: #f2f1ed;	
	border-radius: 2px;
	cursor: pointer;
}

.content {
	margin-bottom: 50px;
}